.status-bar {
  margin-top: 5px;
  border-radius: 15px;
}

.barcode-scanning {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.status-icon {
  padding-left: 15px;
  padding-right: 15px;
  color: green;
}
