<nav class="navbar navbar-expand-md">
    <img src="assets/logo_text.png" alt="" width="130" height="40">

    <div class="collapse navbar-collapse">
    </div>
</nav>
<main role="main" class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col">
                    <app-tabs-content></app-tabs-content>
                </div>
            </div>
            <div class="row fix-bottom" >
                <div class="col-8">
                    <form class="form-inline mt-2 mt-md-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Scan Barcode" aria-label="Scan barcode">
                      </form>
                </div>
            </div>


            
        </div>
        <div class="col">
            <div class="row ">
                <div class="col">
                    <app-virtual-receipt></app-virtual-receipt>
                </div>
            </div>
            <div class="row fix-bottom" style="height: 75px;" (click)="Pay()">
                <div class="col pay-button">
                    Pay
                </div>
            </div>




        </div>
    </div>
    
</main>


