<header>
  <nav id="sidebarMenu" class="sidebar sidebar-bg">
    <div class="logo">
      <img src="assets/logo_text.png" alt="">
    </div>
    <hr>

    <ul ngbNav #nav="ngbNav" class="nav-navigation nav-pills flex-column">
      <li ngbNavItem>
        <a class="nav-text" ngbNavLink>
          <fa-icon [icon]="faShoppingCart"></fa-icon>
          {{ 'sidebar.cart' | translate }}
        </a>
        <ng-template ngbNavContent>
          <app-virtual-receipt></app-virtual-receipt>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a class="nav-text" ngbNavLink>
          <fa-icon [icon]="faCartPlus"></fa-icon>
          {{ 'sidebar.quick-pick' | translate }}
        </a>
        <ng-template ngbNavContent>
          <app-quick-pick-tab></app-quick-pick-tab>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a class="nav-text" ngbNavLink>
          <fa-icon [icon]="faShoppingBag"></fa-icon>
          {{ 'sidebar.bags' | translate }}
        </a>
        <ng-template ngbNavContent>
          <app-bags-tab></app-bags-tab>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a class="nav-text" ngbNavLink>
          <fa-icon [icon]="faCog"></fa-icon>
          {{ 'sidebar.operations' | translate }}
        </a>
        <ng-template ngbNavContent>
          <app-operations-tab></app-operations-tab>
        </ng-template>
      </li>
    </ul>
    <app-sidebar-footer></app-sidebar-footer>
  </nav>
</header>

<main>
  <div class="container">
    <div class="row">
      <app-navbar></app-navbar>
    </div>
    <div class="row">
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</main>