<div class="ta-article panel-bordered">
    <div class="row">
        <div class="col-7">
            {{article.name}}
        </div>
        <div class="col d-flex justify-content-end">
            <p class="text-right">{{article.price}} EUR</p>
        </div>
        <div class="col d-flex justify-content-end">
            <button type="button" class="btn btn-outline-danger">X</button>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <P> Size: </P>
        </div>
        <div class="col d-flex justify-content-end">
            <p class="text-right">{{article.size}}</p>
        </div>
        <div class="col d-flex justify-content-end">
        </div>
    </div>
</div>