<div class="ta-article">
    <div class="d-flex flex-row justify-content-between">
        <div class="p-2">{{ 'tabs.article-label' | translate }}: <b>{{article.name}}</b></div>
        <div class="p-2">{{ 'tabs.price-label' | translate }}: <b> {{article.price}} EUR</b></div>
        <div class="p-2">
            <button type="button" class="btn btn-outline-danger">X</button>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between">
        <div class="p-2">{{ 'tabs.size-label' | translate }}: <b>{{article.size}}</b></div>
      </div>
      <hr>
</div>