<div class="container">
    <div class="row">
      <div class="col">
        <app-quick-pick-button [articleID]="articles[0]"></app-quick-pick-button>
      </div>
      <div class="col">
        <app-quick-pick-button [articleID]="articles[1]"></app-quick-pick-button>
      </div>
      <div class="col">
        <app-quick-pick-button [articleID]="articles[2]"></app-quick-pick-button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-quick-pick-button [articleID]="articles[3]"></app-quick-pick-button>
      </div>
      <div class="col">
        <app-quick-pick-button [articleID]="articles[4]"></app-quick-pick-button>
      </div>
      <div class="col">
        <app-quick-pick-button [articleID]="articles[5]"></app-quick-pick-button>
      </div>
  </div>
</div>
    <!--<div class="row">
      <div class="col">
        <app-article-button [articleID]="1111111"></app-article-button>
      </div>
      <div class="col">
        <app-article-button [articleID]="2222222"></app-article-button>
      </div>
      <div class="col">
        <app-article-button [articleID]="3333333"></app-article-button>
      </div>
    </div> -->
