<div class="panel-quick-pick panel-bg">
  <div class="overflow-auto scroll-style">
    <div class="d-flex flex-row justify-content-between">
      <div class="p-2 pick-btn-panel">
        <app-quick-pick-button [articleID]="articles[0]"></app-quick-pick-button>
      </div>
      <div class="p-2 pick-btn-panel">
        <app-quick-pick-button [articleID]="articles[1]"></app-quick-pick-button>
      </div>
      <div class="p-2 pick-btn-panel">
        <app-quick-pick-button [articleID]="articles[2]"></app-quick-pick-button>
      </div>
      <div class="p-2 pick-btn-panel">
        <app-quick-pick-button [articleID]="articles[3]"></app-quick-pick-button>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <div class="p-2 pick-btn-panel">
        <app-quick-pick-button [articleID]="articles[4]"></app-quick-pick-button>
      </div>
      <div class="p-2 pick-btn-panel">
        <app-quick-pick-button [articleID]="articles[5]"></app-quick-pick-button>
      </div>
      <div class="p-2 pick-btn-panel">
        <app-quick-pick-button [articleID]="articles[6]"></app-quick-pick-button>
      </div>
      <div class="p-2 pick-btn-panel">
        <app-quick-pick-button [articleID]="articles[7]"></app-quick-pick-button>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <div class="p-2 pick-btn-panel">
        <app-quick-pick-button [articleID]="articles[8]"></app-quick-pick-button>
      </div>
      <div class="p-2 pick-btn-panel">
        <app-quick-pick-button [articleID]="articles[9]"></app-quick-pick-button>
      </div>
      <div class="p-2 pick-btn-panel">
        <app-quick-pick-button [articleID]="articles[10]"></app-quick-pick-button>
      </div>
      <div class="p-2 pick-btn-panel">
        <app-quick-pick-button [articleID]="articles[11]"></app-quick-pick-button>
      </div>
    </div>
  </div>
</div>