<div class="container">

    <h3>Cart</h3>

    <div class="overflow-auto" id="scroll-style">
        
        <div *ngIf="transaction$ | async; let transaction">

            <ul *ngFor="let taObj of transaction.objects; let i = index">
                <div *ngIf="IsTaArticle(taObj)">
                    <app-article-virtual-receipt [article]="taObj"></app-article-virtual-receipt>
                </div>
            </ul>

            
        </div>
    </div>

    <app-total-virtual-receipt [total]="GetTotal()"></app-total-virtual-receipt>
</div>