<div class="d-flex flex-row justify-content-between">
    <div class="p-2 panel-cart panel-bg">
        <!-- Virtual receipt -->
        <div class="overflow-auto scroll-style">
            <div *ngIf="transaction$ | async; let transaction">
                <ul *ngFor="let taObj of transaction.objects; let i = index">
                    <div *ngIf="IsTaArticle(taObj)">
                        <app-article-virtual-receipt [article]="taObj"></app-article-virtual-receipt>
                    </div>
                    <div *ngIf="IsTaFooter(taObj)">
                        Transaction closed!
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="p-2 panel-total panel-bg">
        <!-- Total-->
        <app-total-virtual-receipt [total]="GetTotal()"></app-total-virtual-receipt>
    </div>
</div>