<div class="login-container text-center">
  <div class="form-signin rounded border-blue panel-bg">
    <img class="mb-4" src="assets/logo.png" alt="" width="250" height="250">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
      <div class="form-group">
          <input type="text" class="form-control input-base border-blue" formControlName="cashierID" placeholder="{{ 'login.cashierID_label' | translate }}">
      </div>
      <div *ngIf="loginForm.controls['cashierID'].invalid && (loginForm.controls['cashierID'].dirty || loginForm.controls['cashierID'].touched)" class="alert alert-danger">
        <div *ngIf="loginForm.controls['cashierID'].errors.required">
          {{ 'login.cashierID_required' | translate }}
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control input-base border-blue" formControlName="password" placeholder="{{ 'login.password_label' | translate }}">
      </div>
      <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert alert-danger">
        <div *ngIf="loginForm.controls['password'].errors.required">
          {{ 'login.password_required' | translate }}
        </div>
      </div>
      <button class="btn btn-lg btn-primary form-control" style="width:104%" [disabled]="loginForm.status == 'INVALID'" type="submit">{{ 'login.login_button' | translate }}</button>
    </form>
    <!--<p>Form status: {{ loginForm.status }}</p> -->

    <img class="flag interactive pointer" src="assets/flags/en.png" alt="" width="50" height="30" (click)="useLanguage('en')">
    <img class="flag interactive pointer" src="assets/flags/pl.png" alt="" width="50" height="30" (click)="useLanguage('pl')">

  </div>
  
  
</div>