body {
  background-color: rgb(33, 39, 51);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.panel-bordered {
  background-color: rgb(33, 39, 51);
  border: 2px solid rgb(102, 128, 115);
  outline: 2px solid #444;

  margin-top: 15px;
  padding: 15px;
}

.btn-wide {
  width: 200px;
  height: 40px;
}

.no-padding {
  padding: 0px;
}
