body {
  background-color: #1e1e2e;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

main {
  padding-left: 240px;
}

/* Logo Size */
.sidebar .logo img {
  width: 170px;
}

hr {
  width: 80%;
  margin: 0 auto;
}

/* Text */
.nav-text {
  font-size: 25px;
}

/* Colors */
.bg-blue {
  background: linear-gradient(0deg, #1d8cf8, #3358f4);
}
