<div class="container button-background">
    <div class="row">
        <div class="col d-flex justify-content-center col-icon" >
            <fa-icon [icon]="faTshirt" class="fa-4x"></fa-icon>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Some plain t-shirt
        </div>
        <div class="col">
            17.99 EUR
        </div>
    </div>
    <div class="row">
        <div class="col">
            Size:
        </div>
        <div class="col">
            XXL
        </div>
    </div>
    <div class="row add-to-cart-btn">
        <button type="button" class="btn btn-primary">Add do cart</button>
    </div>
</div>
