<div *ngIf="article != undefined" class="container button-background">
    <div class="row">
        <div class="col d-flex justify-content-center col-icon" >
            <fa-icon [icon]="faTshirt" class="fa-4x"></fa-icon>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{article.name}}
        </div>
        <div class="col ">
            {{article.price}} EUR
        </div>
    </div>
    <div class="row">
        <div class="col">
            Size:
        </div>
        <div class="col">
            {{article.size}}
        </div>
    </div>
    <div class="row add-to-cart-btn">
        <button type="button" class="btn btn-primary" (click)="AddItem()">Add do cart</button>
    </div>
</div>
