<div class="sidebar-footer">
    <hr>
    <div class="operator-info column">
        <div class="user-pic row">
            <img src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
              alt="User picture" >
          </div>
          <div class="user-info row">
            <span class="user-name ">Jhon
              <strong>Smith</strong>
            </span>
            <span class="user-role">Administrator</span>
            <span class="user-status">
                <fa-icon [icon]="faCircle"></fa-icon>
              <span>Online</span>
            </span>
          </div>
    </div>
    <hr>
    <div>
      <div class="store-id">Store: <strong>1</strong></div>
      <div class="workstation-id">POS: <strong>1</strong></div>
      <div class="time">
            <app-clock></app-clock>
      </div>
    </div>    
</div>