<div class="sidebar-footer">
    <img class="flag hover11" src="assets/flags/en.png" alt="" width="65" height="40" (click)="useLanguage('en')">
    <img class="flag hover11" src="assets/flags/pl.png" alt="" width="65" height="40" (click)="useLanguage('pl')">
    <hr>
    <div class="operator-info column">
        <div class="user-pic row">
            <img src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
              alt="User picture" >
          </div>
          <div class="user-info row">
            <span class="user-name ">{{user.operatorName}}
              <strong>{{user.operatorLastName}}</strong>
            </span>
            <span class="user-role">{{user.role}}</span>
            <span class="user-status">
                <fa-icon [icon]="faCircle"></fa-icon>
              <span>Online</span>
            </span>
          </div>
    </div>
    <hr>
    <div>
      <div class="store-id">{{ 'sidebar.store' | translate}} <strong>{{workstation.storeId}}</strong></div>
      <div class="workstation-id">{{ 'sidebar.workstation' | translate}} <strong>{{workstation.id}}</strong></div>
      <div class="time">
            <app-clock></app-clock>
      </div>
    </div>    
</div>